# Server
PORT=
HOST_DEPLOY=

# Database
BD_URI_PROD=
DB_URI_DEV=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_RECOVERY_PASSWORD_EXPIRES=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=


